<div class="row">
  <div class="col-sm-12">
    <rz-form #form0 [data]="deviceset" name="form0" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-string-form-field property="Description" [required]="false" title="Description" type="string">
      </rz-string-form-field>
      <rz-string-form-field property="Manufacturer" [required]="false" title="Manufacturer" type="string">
      </rz-string-form-field>
      <rz-string-form-field property="Name" [required]="true" title="Name" type="string">
      </rz-string-form-field>
      <rz-lookup-form-field [data]="getDeviceTypeSetsResult" property="DeviceTypeId" [required]="false" textProperty="Name" title="Device Type Set" valueProperty="Id" placeholder="Choose DeviceTypeSet" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
<rz-notification [messages]="messages"></rz-notification>
