<div class="row">
  <div class="col-sm-12">
    <rz-form #form0 [data]="gaitset" name="form0" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-string-form-field property="Direction" [required]="false" title="Direction" type="string">
      </rz-string-form-field>
      <rz-integer-form-field property="FrameNumber" [required]="false" title="Frame Number" type="integer">
      </rz-integer-form-field>
      <rz-lookup-form-field [data]="getSampleSetsResult" property="Sample_Id" [required]="true" textProperty="FilePath" title="Sample Set" valueProperty="Id" placeholder="Choose SampleSet" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
<rz-notification [messages]="messages"></rz-notification>
