<div class="row">
  <div class="col-sm-12">
    <rz-grid #grid0 [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getKeystrokeSetsCount" [data]="getKeystrokeSetsResult" name="grid0" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
      <rz-grid-column property="Id" title="Id" type="integer">
      </rz-grid-column>
      <rz-grid-column property="Password" title="Password" type="string">
      </rz-grid-column>
      <rz-grid-column property="PersonId" title="Person Set" type="integer">
        <ng-template let-data>
        {{data?.PersonSet?.FirstName}}
        </ng-template>
      </rz-grid-column>
      <rz-grid-column property="PpTime" title="Pp Time" type="string">
      </rz-grid-column>
      <rz-grid-column property="PrTime" title="Pr Time" type="string">
      </rz-grid-column>
      <rz-grid-column property="RawPress" title="Raw Press" type="string">
      </rz-grid-column>
      <rz-grid-column property="RawRelease" title="Raw Release" type="string">
      </rz-grid-column>
      <rz-grid-column property="RpTime" title="Rp Time" type="string">
      </rz-grid-column>
      <rz-grid-column property="RrTime" title="Rr Time" type="string">
      </rz-grid-column>
      <rz-grid-column property="Success" title="Success" type="boolean">
      </rz-grid-column>
      <rz-grid-column property="TimeToType" title="Time To Type" type="string">
      </rz-grid-column>
      <rz-grid-column property="Vector" title="Vector" type="string">
      </rz-grid-column>
      <rz-grid-column property="KeyboardId" title="Keyboard Set" type="integer">
        <ng-template let-data>
        {{data?.KeyboardSet?.Name}}
        </ng-template>
      </rz-grid-column>
      <rz-grid-column property="KeystrokeDatasetId" title="Keystroke Dataset Set" type="integer">
        <ng-template let-data>
        {{data?.KeystrokeDatasetSet?.Name}}
        </ng-template>
      </rz-grid-column>
    </rz-grid>
  </div>
</div>
<rz-notification [messages]="messages"></rz-notification>
