<div class="row">
  <div class="col-sm-12">
    <rz-form #form0 name="form0" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-string-form-field property="Content" [required]="false" title="Content" type="string">
      </rz-string-form-field>
      <rz-lookup-form-field [data]="getLanguageSetsResult" property="LanguageId" [required]="false" textProperty="Name" title="Language Set" valueProperty="Id" placeholder="Choose LanguageSet" type="lookup">
      </rz-lookup-form-field>
    </rz-form>
  </div>
</div>
<rz-notification [messages]="messages"></rz-notification>
